@charset "utf-8";

:root {
  --tegaki-canvas-main-color: rgb(128, 0, 0); 
  --tegaki-canvas-sub-color: rgb(240, 224, 214);

  --tegaki-canvas-padding-side: 16px;
  --tegaki-canvas-canvas-margin-right: 4px;
  --tegaki-canvas-tool-size: 24px;
  --tegaki-canvas-width-without-canvas: calc(var(--tegaki-canvas-padding-side)*2 + var(--tegaki-canvas-canvas-margin-right) + var(--tegaki-canvas-tool-size)*2);
}

.disco-tegaki, .disco-tegaki * {
  box-sizing: border-box;
}

.disco-tegaki.button-open {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5000;
}

.disco-tegaki.button-open button {
  cursor: pointer;
  padding: 0 8px;
  border-radius: 4px;

  color: var(--tegaki-canvas-main-color);
  background-color: var(--tegaki-canvas-sub-color);
}
.disco-tegaki.button-open button:hover {
  background-color: rgb(233, 209, 200);
}

.disco-tegaki.window {
  display: none;
  position: absolute;
  z-index: 100;
  overscroll-behavior-x: none;
  touch-action: none;

  overflow: hidden;
  background: rgb(255, 255, 238);
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  color: var(--tegaki-canvas-main-color);
  
  max-width: 100%;

  button {
    color: var(--tegaki-canvas-main-color);
    background-color: transparent;
    border: 1px solid var(--tegaki-canvas-main-color);
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  button:active {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .tools {
    display: flex;

    > * {
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border: none;
      padding: 0;
      margin: 0;
    }
    > *:hover {
      cursor: initial;
    }
    > *[data-on-click]:hover {
      background-color: rgb(243, 209, 189);
    }
    > *:disabled {
      filter: opacity(0.3);
    }
    > *:disabled:hover {
      background-color: transparent;
    }
  }

  .area-head {
    display: flex;
    margin-bottom: 4px;
    padding: 0 0 0 16px;
    border-bottom: 1px solid var(--tegaki-canvas-main-color);
    height: 30px;
    align-items: center;

    > * {
      height: 24px;
      line-height: 24px;
    }
    
    > .title {
      flex-grow: 1;
      cursor: grab;
      color: var(--tegaki-canvas-main-color);
    }

    > .button-close {
      flex-grow: 0;
      width: 36px;
      font-size: 20px;
      height: 100%;
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
  }

  .area-main {
    display: flex;
    padding: 0 16px;

    .area-draw {
      line-height: 1;
    }

    .area-tools {
      margin-left: 4px;

      .tools {
        display: flex;
        width: 48px;
        flex-wrap: wrap;

        > *.spacer {
          width: 48px;
        }

        .color-cell {
          width: 100%;
          height: 100%;
        }
      } 
    }
  }
} 

.disco-tegaki .area-bottom {
  margin-top: 4px;
  padding: 0 16px 8px 16px;
  display: flex;
  align-items: center;

  .status {
    margin-left: 12px;
    font-size: 12px;
  }
}

.disco-tegaki .area-resize {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}

.disco-tegaki canvas {
  cursor: none;
  overscroll-behavior-x: none;
  touch-action: none;
  max-width: calc(100vw - var(--tegaki-canvas-width-without-canvas));
}

/*
 * Selector
 */
.dt-selector {
  position: absolute;
  box-sizing: border-box;
  border: 1px dashed rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.1);
  z-index: 102;
}
