
.dt_r_disco-tegaki {

  .dt_r_panel-color .dt_r_contents > .dt_r_wrap {
    display: flex;
  }

  .dt_r_panel-color {
    .dt_r_area-palette {
      margin-right: 4px;
    }
    .dt_r_area-palette .dt_r_colors {
      display: flex;
      flex-wrap: wrap;
      width: calc(26px * 4);

      > * {
        box-sizing: border-box;
        width: 24px;
        height: 24px;
        margin-right: 2px;
        margin-bottom: 2px;
        background-color: attr(data-color);
      }
    }

    .dt_r_area-picker {
      > ul > li {
        display: flex;
        align-items: center;

        > * + * {
          margin-left: 2px;
        }
      }
    }
  }

  .dt_r_panel-color .dt_r_preview {
    width: 100%;
    height: 24px;
    border: 1px solid #7e7676;
    margin-bottom: 2px;
    text-align: right;
    font-size: 10px;
    line-height: 24px;
    font-family: monospace;
    white-space: pre;
  }


  .dt_r_size-selector .dt_r_row-preview {
    height: 30px;
    line-height: 30px;
  }
  .dt_r_size-selector .dt_r_preview {
    display: inline-block;
    width: 100%;
    min-height: 1px;
    background-color: #000000;
    vertical-align: middle;
  }
  .dt_r_size-selector .dt_r_contents li {
    display: flex;
    align-items: center;

    span {
      width: 3em;
    }
    input[type=range] {
      width: 120px;
    }
    input[type=number] {
      width: 30px;
      text-align: right;
    }
  }
}