html.disco-tegaki-app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgb(49, 51, 56);
  }
  
  * {
    box-sizing: border-box;
  }
}
