.dt_r_sp.dt_r_disco-tegaki.dt_r_root {
  width: 100%;
  height: 100%;
}

.dt_r_sp.dt_r_disco-tegaki {
  .dt_r_window {
    width: 100% !important;
    height: 100% !important;
    
    .dt_r_area-head {
      height: 36px;
    }

    .dt_r_area-main {
      padding: 4px 4px;

      .dt_r_area-tools .dt_r_tools {
        width: 72px;
      }
    }
    
  }

  .dt_r_area-resize {
    display: none;
  }

  .dt_r_tools {
    display: flex;

    > * {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      border: none;
      padding: 0;
      margin: 0;
      cursor: initial;
      font-size: 36px;
    }
  }
}