/* Variables */
.disco-tegaki {
  --tegaki-canvas-main-color: rgb(128, 0, 0); 
  --tegaki-canvas-sub-color: rgb(240, 224, 214);

  --tegaki-canvas-padding-side: 16px;
  --tegaki-canvas-canvas-margin-right: 4px;
  --tegaki-canvas-tool-size: 24px;
  --tegaki-canvas-width-without-canvas: calc(var(--tegaki-canvas-padding-side)*2 + var(--tegaki-canvas-canvas-margin-right) + var(--tegaki-canvas-tool-size)*2);
  
  --button-hover-color: rgb(243, 209, 189);
  --button-active-color: rgb(230, 189, 166);

  --window-zindex: 100;
  --panel-zindex: 101;
  --panel-focused-zindex: 105;
}

.disco-tegaki.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  z-index: 100;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.disco-tegaki {
  button {
    color: var(--tegaki-canvas-main-color);
    background-color: transparent;
    border: 1px solid var(--tegaki-canvas-main-color);
  }
  button:hover {
    background-color: var(--button-hover-color);
  }
  button:active {
    background-color: var(--button-active-color);
  }
  button img {
    -webkit-user-drag: none;
  }

  .bg-trasnparent {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAACXBIWXMAAAsSAAALEgHS3X78AAAAG3RFWHRTb2Z0d2FyZQBDZWxzeXMgU3R1ZGlvIFRvb2zBp+F8AAAAJUlEQVQYlWM8c+bMfwYkYGxsjMxlYKSDgv///6MoOHv2LL0VAAB6JimFBtCqkwAAAABJRU5ErkJggg==');
    background-repeat: repeat;
  }
}

/* ウィンドウ表示ボタン */
.disco-tegaki.button-open {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5000;
  font-size: 16px;
}
.disco-tegaki.button-open button {
  cursor: pointer;
  padding: 0 8px;
  border-radius: 4px;

  color: var(--tegaki-canvas-main-color);
  background-color: var(--tegaki-canvas-sub-color);
}
.disco-tegaki.button-open button:hover {
  background-color: rgb(233, 209, 200);
}

.disco-tegaki .window {
  display: none;
  position: absolute;
  overscroll-behavior-x: none;
  touch-action: none;

  overflow: hidden;
  background: rgb(255, 255, 238);
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  color: var(--tegaki-canvas-main-color);
  font-size: 16px;

  button {
    color: var(--tegaki-canvas-main-color);
    background-color: transparent;
    border: 1px solid var(--tegaki-canvas-main-color);
  }
  button:hover {
    background-color: var(--button-hover-color);
  }
  button:active {
    background-color: var(--button-active-color);
  }

  .tools {
    display: flex;

    > * {
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border: none;
      padding: 0;
      margin: 0;
      cursor: initial;
      font-size: 14px;
    }
    > *:hover {
      background-color: transparent;
    }
    > *:active {
      background-color: transparent;
    }
    > *[data-on-click]:enabled:hover {
      background-color: rgb(243, 209, 189);
    }
    > *[data-on-click]:enabled:active {
      background-color: rgb(230, 189, 166);
    }
    > *:disabled {
      filter: opacity(0.3);
    }
    
    > *.separator {
      width: 15px;
    }
  }

  .area-head {
    display: flex;
    margin-bottom: 4px;
    padding: 0 0 0 16px;
    border-bottom: 1px solid var(--tegaki-canvas-main-color);
    height: 30px;
    align-items: center;

    > * {
      height: 24px;
      line-height: 24px;
    }
    
    > .title {
      flex-grow: 1;
      cursor: grab;
      color: var(--tegaki-canvas-main-color);
      font-size: 14px;
    }

    > .button-close {
      flex-grow: 0;
      width: 36px;
      font-size: 20px;
      height: 100%;
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
  }

  .area-main {
    display: flex;
    padding: 0 16px;

    .area-draw {
      line-height: 1;
    }

    .tegaki-canvas {
      position: relative;
    }

    .tegaki-canvas > canvas.cursor {
      position: absolute;
      left: 0;
      top: 0;
    }

    .area-tools {
      margin-left: 4px;

      .tools {
        display: flex;
        width: 48px;
        flex-wrap: wrap;

        > *.spacer {
          width: 48px;
          height: 12px;
        }

        .color-cell {
          width: 100%;
          height: 100%;
        }
      } 
    }
  }
} 

.disco-tegaki .area-bottom {
  margin-top: 4px;
  padding: 0 16px 8px 16px;
  display: flex;
  align-items: center;

  .status {
    margin-left: 12px;
    font-size: 12px;
  }
}

.disco-tegaki .area-resize {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
}

.disco-tegaki .tegaki-canvas canvas {
  cursor: none;
  display: block;
  overscroll-behavior-x: none;
  touch-action: none;
  max-width: calc(100vw - var(--tegaki-canvas-width-without-canvas));
}

/*
 * Selector
 */
.dt-selector {
  position: absolute;
  box-sizing: border-box;
  border: 1px dashed rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.1);
  z-index: 102;
}
